/*===================HOME========================*/
body {
  font-family: 'Roboto Mono';
  font-size: 100%;
  line-height: 1;
  font-size: 1.5rem;
  background: #f2f2f2;
}
.home {
  height: 100vh;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}
.left_content {
  flex: 0 1 30%;
  margin: 0px 25px 0px 10px;
  display: block;
  text-align: center;
  position: relative;
  white-space: pre-line;
  font-family: 'Space+Mono';
  text-transform: uppercase;
  max-width: 600px;
  /* padding: 5px 30px 5px 0px; */
  padding: 30px 60px;
  border-right: none;
  background-color: rgba(255, 255, 255, 1);
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  border-radius: 5px;
}


.left_content_top > span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 300px;
  top: 0.8rem;
  animation: 0.5s swift-up ease-in-out forwards;
  line-height: 2rem;
}
.left_content_bottom > span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 300px;
  top: 0.8rem;
  animation: 0.5s swift-up ease-in-out forwards;
  line-height: 2rem;
}

i {
  font-style: normal;
  position: relative;
  top: 2rem;
  animation: 0.5s swift-up ease-in-out forwards;
}
@keyframes swift-up {
  to {
    top: 0rem;
  }
}
span:nth-of-type(1) i {
  animation-delay: 0s;
}

span:nth-of-type(2) i {
  animation-delay: 0.1s;
}

span:nth-of-type(3) i {
  animation-delay: 0.2s;
}
span:nth-of-type(4) i {
  animation-delay: 0.3s;
}

span:nth-of-type(1) {
  animation-delay: 0s;
}

span:nth-of-type(2) {
  animation-delay: 0.1s;
}

span:nth-of-type(3) {
  animation-delay: 0.2s;
}

.right_content {
  font-size: 1.5rem;
  color: #040404;
  text-transform: uppercase;
  flex: 0 1 50%;
  text-align: center;
}
.right_content-title {
  padding-bottom: 11px;
}
.right_content-top {
  margin: 0px 0px 50px 0px;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip {
  height: 50px;
  overflow: hidden;
  margin: 0px 10px 0px 10px;
  line-height: 1.7rem;
}

.flip > div > div {
  color: #fffff3;
  padding: 4px 10px 3px 17px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

.flip_day {
  margin: 0px -45px 0px -90px;
}
/* .flip_songs {
  margin-bottom: -15px;
} */
.flip div div {
  background: #b91372;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div:first-child div {
  background: #00d9c0;
}

.flip div:last-child div {
  background: #ff4365;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
.right_content-bottom {
  line-height: 2;
}

.visibility {
  display: none;
}

.button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  border-radius: 5px;
  color: #040404;
  font-weight: 700;
}
.buttons {
  margin-top: 60px;
}
.btn {
  text-transform: uppercase;
  padding: 15px 20px;
  font-size: 1.2rem;
  transition: all 500ms ease;
  transition: 0.5s;
}
.btn_login,
.btn_sign-up {
  margin-right: 25px;
  text-decoration: none;
}

.btn_login:hover {
  color: #f2f2f2;
  background-color: #00d9c0;
  box-shadow: 0 0 20px #24e1cb;
}
.btn_sign-up:hover {
  color: #f2f2f2;
  background-color: #b91372;
  box-shadow: 0 0 20px #b7317d;
}

/*====================LOGIN&SIGNUP====================*/

.login,
.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100vh;
}

.login_title,
.signup_title {
  text-transform: uppercase;
  font-size: 1.5rem;
}
label {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 1rem;
}
input[type='name'],
input[type='email'],
input[type='password'] {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}
input[type='email']:focus,
input[type='password']:focus {
  border-color: #aaa;
}
input[type='checkbox'] {
  margin-right: 5px;
}

.btn_login-form,
.btn_signup-form {
  padding: 10px 20px;
  width: 100%;
}
.login-signup_error {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: rgb(243, 7, 7);
}


/*====================SEARCH====================*/

.songs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 15px

}
.search_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.search_item {
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 375px;

}
.search_field{
  width: 400px;
  height: 40px;
  margin-right: 20px;
  padding: 0px 10px;
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  border-radius: 5px;
}
.button {
  text-transform: uppercase;
  border: 1px solid #aaa;
}
.search_button {
  height: 40px;
}
.search_playlist {
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  margin-right: 18px;
}
.search_playlist:after {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #040404;
  position: absolute;
  z-index: -2;
  top: -8px;
  right: -13px;
}

.songs_search {

  align-items: center;

}
.search_results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.result_card {
  background: #FFF;
   width: 200px;
   height: 291px;
   margin: 20px;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
   box-sizing: border-box;
   padding: 15px 15px 10px 15px;
   position: relative;
   box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
   border-radius: 5px;

}
.result_img img{
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.result_name {
  margin-bottom: 10px;
  margin-right: 15px;
}
.result_name, .result_title {
  flex-grow: 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 1rem;
  text-transform: uppercase;
}

.result_title {
  margin-right: 15px;
}
.result_add {
  position: absolute;
  right: 13px;
  bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.result_play_icon {
  position: absolute;
  right: 13px;
  bottom: 40px;
  font-size: 18px;
  cursor: pointer;
}

.global_audio_player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);

}


.search_playlist {
  position: relative;
  display: inline-block;
}

.playlist_dropdown {
  position: absolute;
  right: 0px;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  z-index: 1;
  font-size: 0.9rem;
}

.playlist_track, .playlist_empty {
  margin: 20px 0px;
  padding: 0px 15px;

}
.playlist_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.playlist_wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.playlist_track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.playlist_delete_icon {
  cursor: pointer;
}
/*
.songs__search {
  flex: 0 1 70%;
  color: #dfe0e2;
  margin: 0px 20px 0px 0px;
  font-size: 1rem;
}

.search__item {
  margin: 0px 0px 40px 0px;
}

.search__field {
  width: 500px;
  height: 50px;
  font-size: 0.8rem;
  padding: 0px 10px;
}

.search__button {
  width: 100px;
  font-size: 0.8rem;
  color: #fffff3;
}



.list__text {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 8%;
  font-size: 1.1rem;
  line-height: 1.7;
}
.list__text:after,
.list__text:before {
  background-image: linear-gradient(90deg, #181717, #181717);
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  position: absolute;
  z-index: 2;
  animation: blinds 3s ease infinite alternate;
}

.list__text:before {
  top: 0px;
}

.list__text:after {
  bottom: -10px;
} */

/* @keyframes blinds {
  0% {
    height: 52%;
  }
  20% {
    height: 52%;
  }
  100% {
    height: 4px;
  }
}

.songs__list:before,
.songs__list:after {
  content: "";
  position: absolute;
  width: 87%;
  left: calc(50% - 45%);
  height: 2px;
  background-color: #181717;
  z-index: 3;
  animation: size 3s ease infinite alternate;
}
.songs__list:before {
  background-color: #dfe0e2;
  top: 38%;
}

.songs__list:after {
  background-color: #dfe0e2;
  top: 59%;
  z-index: 3;
}
@keyframes size {
  0% {
    top: 50%;
    left: 50%;
    width: 0%;
  }

  20% {
    width: 87%;
    left: calc(50% - 45%);
    top: 50%;
  }
  60% {
    width: 87%;
    left: calc(50% - 45%);
  }

  100% {
    width: 87%;
    left: calc(50% - 45%);
  }
}

.hide-animation:after,
.hide-animation:before {
  animation: none;
  background-color: transparent;
} */


