/*===================HOME========================*/
body {
  font-family: 'Roboto Mono';
  font-size: 100%;
  line-height: 1;
  font-size: 1.5rem;
  background: #e4e3e3;
}
.home {
  height: 100vh;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
}
.left_content {
  flex: 0 1 30%;
  margin: 0px 25px 0px 10px;
  display: block;
  text-align: center;
  position: relative;
  white-space: pre-line;
  font-family: 'Space+Mono';
  text-transform: uppercase;
  max-width: 600px;
  padding: 30px 60px;
  border-right: none;
  background-color: rgba(255, 255, 255, 1);
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  border-radius: 5px;
}
.left_content_top > span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 300px;
  top: 0.8rem;
  animation: 0.5s swift-up ease-in-out forwards;
  line-height: 2rem;
}
.top_save-share {
  font-weight: bold;
}
.left_content_bottom > span {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 300px;
  top: 0.8rem;
  animation: 0.5s swift-up ease-in-out forwards;
  line-height: 2rem;
}
i {
  font-style: normal;
  position: relative;
  top: 2rem;
  animation: 0.5s swift-up ease-in-out forwards;
}
@keyframes swift-up {
  to {
    top: 0rem;
  }
}
span:nth-of-type(1) i {
  animation-delay: 0s;
}

span:nth-of-type(2) i {
  animation-delay: 0.1s;
}
span:nth-of-type(3) i {
  animation-delay: 0.2s;
}
span:nth-of-type(4) i {
  animation-delay: 0.3s;
}
span:nth-of-type(1) {
  animation-delay: 0s;
}

span:nth-of-type(2) {
  animation-delay: 0.1s;
}
span:nth-of-type(3) {
  animation-delay: 0.2s;
}
.right_content {
  font-size: 1.5rem;
  color: #040404;
  text-transform: uppercase;
  flex: 0 1 50%;
  text-align: center;
}
.right_content-title {
  padding-bottom: 11px;
}
.right_content-top {
  margin: 0px 0px 50px 0px;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip {
  height: 50px;
  overflow: hidden;
  margin: 0px 10px 0px 10px;
  line-height: 1.7rem;
}
.flip > div > div {
  color: #fffff3;
  padding: 4px 10px 3px 17px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}
.flip_day {
  margin: 0px -45px 0px -90px;
}
.flip div div {
  background: #b91372;
}
.flip div:first-child {
  animation: show 5s linear infinite;
}
.flip div:first-child div {
  background: #00d9c0;
}
.flip div:last-child div {
  background: #ff4365;
}
@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
.right_content-bottom {
  line-height: 2;
}
.visibility {
  display: none;
}
.button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  border-radius: 5px;
  color: #040404;
  font-weight: 700;
  text-decoration: none;
}
.right_content-button {
  margin-top: 60px;
}
.btn_start {
  margin-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
  font-size: 1.2rem;
  transition: all 500ms ease;
}
.btn_start:hover {
  color: #f2f2f2;
  background-color: #00d9c0;
  box-shadow: 0 0 20px #24e1cb;
}

@media (min-width: 600px) and (max-width: 768px) {
  .home {
    padding: 0px 10px;
    gap: 15px;
    font-size: 1.2rem;
  }
  .left_content {
    margin: 0px 15px 0px 10px;
    padding: 30px 30px;
    max-width: 400px;
  }
  .right_content {
    margin-right: 20px;
  }
  .right_content > p {
    line-height: 1;
    font-size: 1rem;
  }
  .right_content-top {
    font-size: 1.2rem;
    text-align: center;
  }
  .btn_start {
    margin-right: 0px;
    padding: 10px 15px;
    font-size: 1rem;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .home {
    padding: 0px 10px;
    gap: 5px;
    font-size: 1rem;
  }
  .left_content {
    margin: 0px 5px 0px 5px;
    padding: 10px 10px;
    max-width: 300px;
    text-align: center;
  }
  .right_content {
    margin-right: 10px;
  }
  .right_content > p {
    line-height: 1.2;
    font-size: 1rem;
  }
  .right_content-top {
    font-size: 1rem;
    text-align: center;
  }
  .btn_start {
    margin-right: 0px;
    padding: 8px 14px;
    font-size: 1rem;
  }
}
@media (min-width: 300px) and (max-width: 399px) {
  .home {
    padding: 0px 10px;
    gap: 5px;
    line-height: 0.2rem;
    font-size: 0.8rem;
  }
  .left_content {
    margin: 0px 10px 0px 5px;
    padding: 5px 0px;
    max-width: 200px;
    text-align: center;
  }
  .left_content_top > span > i {
    padding-right: 100px;
  }
  .left_content_bottom > span > i {
    padding-right: 100px;
  }
  .right_content {
    margin-right: 10px;
  }
  .right_content > p {
    line-height: 1.2;
    font-size: 0.8rem;
  }
  .right_content-top {
    font-size: 1rem;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
  .btn_start {
    margin-right: 0px;
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .right_content-button {
    margin-top: 35px;
  }
}
/*====================SEARCH====================*/

.songs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 15px;
}
.search_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search_item {
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  margin-right: 375px;
}
.search_field {
  width: 400px;
  height: 40px;
  margin-right: 20px;
  padding: 0px 10px;
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  border-radius: 5px;
  font-size: 1.1rem;
}
.button {
  text-transform: uppercase;
  border: 1px solid #aaa;
}
.search_button {
  height: 40px;
  transition: all 500ms ease;
}
.search_button:hover {
  color: #f2f2f2;
  background-color: #00d9c0;
  box-shadow: 0 0 20px #24e1cb;
}
.search_playlist {
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  margin-right: 18px;
}
.search_playlist:after {
  content: '';
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #040404;
  position: absolute;
  z-index: -2;
  top: -8px;
  right: -13px;
}
.songs_search {
  align-items: center;
}

/*====================SEARCH RESULTS====================*/
.search_results {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.result_title-popular {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
  margin-top: 100px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-left: 100px;
}
.result_card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.result_card {
  background: #fff;
  width: 200px;
  height: 291px;
  margin: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 15px 15px 10px 15px;
  position: relative;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  border-radius: 5px;
}
.result_img img {
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.result_name {
  margin-bottom: 10px;
  margin-right: 15px;
}
.result_name,
.result_title {
  flex-grow: 0;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  line-height: 1rem;
  text-transform: uppercase;
  margin-right: 17px;
}
.result_add {
  position: absolute;
  right: 13px;
  bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
}
.result_play_icon {
  position: absolute;
  right: 13px;
  bottom: 40px;
  font-size: 18px;
  cursor: pointer;
}
.global_audio_player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.search_playlist {
  position: relative;
  display: inline-block;
}
.playlist_dropdown {
  position: absolute;
  right: 0px;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
  z-index: 15;
  font-size: 0.9rem;
}
.playlist_button-customize {
  padding: 8px;
  margin-right: 10px;
  transition: all 500ms ease;
}
.playlist_button-customize:hover {
  color: #f2f2f2;
  background-color: #00d9c0;
  box-shadow: 0 0 20px #24e1cb;
}
.playlist_track,
.playlist_empty {
  margin: 10px 0px 20px 0px;
  padding: 0px 15px;
  z-index: 5;
}
.playlist_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.playlist_wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.playlist_track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.playlist_delete_icon {
  cursor: pointer;
}
.playlist_count {
  position: absolute;
  top: 20px;
  left: 17px;
  background-color: #ff4365;
  color: white;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 1.3rem;
  font-size: 0.8rem;
  font-weight: bold;
}
@media (max-width: 1350px) {
  .result_card-wrapper {
    flex-wrap: nowrap;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
}

/*====================CUSTOMIZE====================*/
.customize {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
.customize_list {
  color: black;
  padding: 20px;
  width: 600px;
  margin: 50px;
  text-align: justify;
  border-radius: 5px;
  border: 2px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 0.2);
}
#customize_controls {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 50px;
}
.customize_controls-label {
  margin-bottom: 30px;
}
.customize_list-note {
  margin: 10px 0px 30px 0px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.customize_input {
  margin-left: 5px;
}
.customize_input-note {
  width: 250px;
  height: 25px;
  text-transform: uppercase;
}
.customize_input-font {
  width: 50px;
}
.customize_btn {
  padding: 10px;
  width: 150px;
  transition: all 500ms ease;
}
.customize_btn:hover {
  color: #f2f2f2;
  background-color: #00d9c0;
  box-shadow: 0 0 20px #24e1cb;
}
.note_track {
  text-transform: uppercase;
}
